.expo-section {
  height: 105vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -1;
}

.expo-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;

  background: linear-gradient(
    to bottom,
    #08054a 0%,
    rgba(8, 5, 74, 0.75) 30%,
    rgba(8, 5, 74, 0.3) 65%,
    transparent 100%
  );

  pointer-events: none;
  z-index: 1;
}

.expo-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;

  background: linear-gradient(
    to top,
    #130824 0%,
    rgba(33, 17, 64, 0.75) 30%,
    rgba(33, 17, 64, 0.3) 65%,
    transparent 100%
  );

  pointer-events: none;
  z-index: 1;
}

.expo-section > * {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 576px) {
  .expo-section {
    height: 75vh;
  }
  .panel-feature .features-container-variant {
    flex-direction: column;
    margin-top: 1rem;
    width: 90vw;
    gap: 1rem;
  }

  .panel-feature .features-container-variant .feature {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem;
  }

  .panel-feature .features-container-variant .feature img {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .panel-feature .features-container-variant .feature p {
    text-align: left;
  }
}
