.lastedition-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 7rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lastedition-section h2 {
  font-size: 3rem;
  line-height: 1;
  color: var(--secondary-blue);
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  width: 40vw;
}

.lastedition-section h2 span {
  font-weight: 700;
  background: var(--gradient-violet-orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lastedition-section p {
  font-size: 1rem;
  line-height: 1.3;
  color: white;
  text-align: center;
  width: 30vw;
}

.lastedition-section .video-gallery {
  display: grid;
  grid-template-columns: repeat(4, 20rem);
  grid-template-rows: repeat(2, 15rem);
  margin-top: 4rem;
  gap: 1rem;
}

.lastedition-section .video-thumb {
  position: relative;
  cursor: pointer;
}

.lastedition-section .video-thumb .video-thumb-img {
  width: 98%;
  height: 98%;
  object-fit: cover;
  border-radius: 0.7rem;
  position: absolute;
}

.lastedition-section .video-border {
  width: 98%;
  height: 98%;
  left: 0.4rem;
  top: 0.4rem;
  border: 1px solid var(--secondary-blue);
  border-radius: 0.7rem;
  position: absolute;
  z-index: 2;
}

.lastedition-section .video-play {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98%;
  height: 98%;
  position: absolute;
  z-index: 1;
  background-color: rgb(0 0 0 / 30%);
  border-radius: 0.7rem;
}

.lastedition-section .video-play img {
  width: 100%;
  max-width: 4rem;
}

.video-tooltip {
  z-index: 3;
  width: 10rem;
}

.lastedition-section .pic-gallery-container {
  padding: 10rem 12rem 0;
}
