.navbar-header {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
}

nav.navbar {
  display: flex;
  width: 75vw;
  justify-content: space-between;
  align-items: center;
  background-image: var(--gradient-blue);
  padding: 1rem 4rem;
  border-radius: 3rem;
}

nav.navbar .logo-menu {
  max-height: 2.5rem;
}

nav.navbar .menu-container {
  display: flex;
  list-style: none;
  gap: 2.5rem;
}

nav.navbar .menu-container a {
  text-decoration: none;
  color: white;
  transition: all 0.5s;
}

nav.navbar .menu-container a:hover {
  color: var(--secondary-blue);
}

nav.navbar .lang-switch {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.2rem 0.3rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  width: fit-content;
  gap: 0.2rem;
  box-shadow:
    inset 1px 1px 4px rgba(0, 0, 0, 0.2),
    1px 1px 4px var(--secondary-blue);
}

nav.navbar .lang-switch button {
  background-color: transparent;
  border: none;
  color: var(--light-white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-space);
  font-weight: 600;
  font-size: 0.7rem;
  padding: 0.5rem 0.7rem;
  border-radius: 1rem;
  cursor: pointer;
}

nav.navbar .lang-switch button.active {
  background-color: var(--main-blue);
  color: var(--secondary-blue);
}

.social-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 7rem;
}

.social-links .social-link {
  background-color: transparent;
  border: none;
  color: var(--light-white);
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s;
}

.social-links .social-link:hover {
  color: rgba(255, 255, 255, 0.8);
}

nav .hamburger-icon {
  display: none;
}

@media (max-width: 576px) {
  nav.navbar {
    width: 90vw;
    padding: 0.5rem 1.5rem;
  }

  nav .navbar-social {
    display: none;
  }

  nav .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1.5rem;
    height: 1.8rem;
  }

  nav .hamburger-icon .hamburger-line {
    width: 100%;
    height: 3px;
    margin-bottom: 3px;
    border-radius: 2px;
    background-color: white;
  }

  nav .navbar-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    transition: 0.5s all ease;
    padding-top: 5.3rem;
    z-index: -1;
  }

  nav .navbar-menu .menu-container {
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 1rem;
  }

  nav .navbar-menu .menu-container li {
    padding: 0.4rem 0;
  }

  nav .navbar-menu.menu-mobile-open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  nav .navbar-menu.menu-mobile-close {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50vh);
  }
}
