.section-stage-panels {
  position: relative;
  z-index: 1;
  background-position: center center;
  background-size: cover;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-stage-panels .title {
  font-size: 4rem;
  line-height: 1.1;
  color: var(--secondary-blue);
  max-width: 50%;
  text-align: center;
  margin-bottom: 2rem;
}

.section-stage-panels .text {
  font-size: 1.4rem;
  line-height: 1.3;
  color: white;
  max-width: 50%;
  text-align: center;
  margin-bottom: 2rem;
}

.stage-panel-container {
  height: 260vh;
  position: relative;
}

.stage-footer {
  width: 70vw;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  backdrop-filter: blur(0.5rem);
  border: 0.5px solid rgb(62 232 255 / 60%);
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2;
  color: white;
  box-shadow: inset 1rem 0 3rem rgb(62 232 255 / 50%);
  mix-blend-mode: plus-lighter;
  border-radius: 6rem;
}

.stage-footer p {
  width: 70%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .section-stage-panels {
    padding: 4rem 2rem;
  }
  .section-stage-panels .title {
    max-width: 100%;
    font-size: 1.9rem;
    line-height: 1;
  }

  .section-stage-panels .text {
    font-size: 1.1rem;
    line-height: 1.3;
    max-width: 100%;
  }
}
