.topics-section {
  background-color: var(--dark-violet-2);
  padding: 13rem 0 0;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
}

.topics-section h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--secondary-blue);
  text-align: center;
}

.topics-section h2 span {
  color: white;
  font-weight: 300;
}

.topics-section .tabs-container {
  padding-top: 5rem;
}
